# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript output
dist/
build/

# Environment
.env

# Uploads
uploads/

# Logs
*.log

# IDE / Editor
.vscode/
.idea/

# System
.DS_Store
Thumbs.db

# Windows system folders
AppData/
Temp/
*/AppData/
*/Temp/
